/* Fade in */
@-webkit-keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.duration1Segs {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.duration2Segs {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delay1Segs{
    animation-delay: 1s;
}

.delay2Segs{
    animation-delay: 2s;
}
/* Fade in */