@media screen and (max-width: 425px){

    .contact-container .contact{
        background-color: #ffa65d;
        padding: 7vh 5% 7vh 5%;
        width: 100%;
    }

    .contact-container .contact h3{
        font-size: 12vw;
        margin: 0 0 2vh 0;
    }

    .contact-container .contact .form .input p{
        margin: 0 0 1vh 0;
        font-size: 5vw;
    }

    .contact-container .contact .form button {
        margin-top: 3vh;
        font-size: 5.5vw;
    }

}